/* src/app/globals.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    background-color: #1e1e1e;
    color: #d0ccc6;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-header-gradient {
    background: linear-gradient(90deg, #831024 0%, #c42729 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for older browsers */
  }
}
